* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway+Dots&display=swap');

body {
    height: 100vh;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}

.background-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('images/Homepage-BG.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}

.zoom-effect {
    animation: zoomInOut 20s linear infinite;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(208, 208, 54);
    width: 50vw;
    height: 100vh;
    overflow-y: auto; /* Enable scrolling for nav */
    scroll-behavior: smooth;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    display: none;
}

nav::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

nav .top {     
    top: 0;
    width: 50%;   
    background-color: rgb(208, 208, 54);
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    height: 40px;
}

nav .top i {
    padding: 10px;
    float: right;
    color: #fff;
    font-size: 30px;
    padding: 10px 30px;
}

nav .ul {
    margin: 100px 30px;
}

nav .ul a {
    color: rgb(58, 3, 3);
}

nav .ul li {
    margin: 25px 0px;
    font-size: 15px;
    font-family: Arial;
}

nav .dropdown span {
    display: flex;
    justify-content: space-between;
}
nav .dropdown ul{
    display: none;
}

nav .dropdown ul li {
    font-size: 11px;
    margin: 20px;
}
nav .footer{
    width: 100%;   
    background-color: rgb(208, 208, 54);
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    height: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7663609;
    height: 80vh;
}

main img {
    height: 200px;
    margin-top: 100px;
}

main h6 {
    font-family: "Whisper", cursive;
    font-weight: 500;
    font-style: normal;
    color: #663322;
    font-size: 25px;
    cursor: context-menu;
}

main button {
    color: gray;
    padding: 15px 40px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #59eb1a08;
    color: #fff;
    padding: 5px 20px;
    height: 25vh;
}

footer .left i {
    font-size: 24px;
    margin-top: 30px;
    display: none;
}

footer .center ul {
    display: flex;
    margin-top: 30px;
}

footer .center ul a li {
    color: #fff;
    margin: 0px 10px;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 1s ease;
}

footer .center ul a li:hover {
    color: #663322;
}

footer .logo img {
    margin-top: -20px;
}

footer .logo h1 {
    font-size: 19px;
    font-weight: 100;
}

footer .logo h2 {
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #5e422f;
}

@media screen and (min-width: 1024px) {
    main {
        height: 79vh;
    }

    @keyframes zoomInOut {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.3);
        }
        100% {
            transform: scale(1);
        }
    }
}

@media screen and (max-width: 1024px) {
    nav{
        display: none;
    }
    footer .center {
        display: none;
    }
    footer .left i{
        display: block;
    };

    footer {
        height: 25vh;
        
    }

    footer .logo img {
        height: 50px;
    }

    footer .logo h1 {
        font-size: 15px;
    }

    footer .logo h2 {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        height: 20vh;
        background-color: rgba(255, 222, 173, 0);
    }
}
